@import '../../../common/variables';

.functionality-container {
	padding: 50px 120px;
	background-color: $bg-color2;
	box-shadow: 0 35px 120px 120px rgba(0, 0, 0, 0.25);
	box-shadow: 0 -35px 120px 120px rgba(0, 0, 0, 0.25);
	z-index: 3;
	.functionality-title {
		font-size: $fz-large;
		color: $header-color;
		font-weight: $fw-semibold;
		text-align: center;
	}
	.functionality-content {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
	}
}
