@import '../../../common/variables';

.audience-container {
	border-bottom: 2px solid $text-color-hover;
	.audience-title {
		margin-top: 50px;
		text-align: center;
		font-size: $fz-large;
		font-weight: $fw-medium;
	}
	.audience-content {
		display: flex;
		justify-content: space-between;
		margin-top: 75px;
		padding: 50px 170px;
		.benefits {
			display: flex;
			flex-direction: column;
			row-gap: 70px;
			.benefits-separator {
				width: 120%;
				margin-left: -10%;
				height: 2px;
				background-color: $text-color-hover;
			}
		}
	}
}
