@import '../../../common/variables';

.benefits-item {
	padding: 30px 8px;
	background-color: $bg-color2;
	border-radius: 20px;
	transition: 0.3s ease box-shadow;
	user-select: none;
	&:hover {
		box-shadow: 0 0 0 2px $text-color-hover;
	}
	p {
		text-align: center;
		width: 500px;
		font-size: $fz-x-small;
	}
}
