@import '../../../common/variables';

.about__slider {
	display: flex;
	align-items: center;
	justify-content: center;
	.slider-line {
		position: relative;
		width: 850px;
		height: 400px;
		border: 2px solid $text-color-hover;
		background-color: $bg-color2;
		overflow-x: hidden;
		.slider-items {
			display: flex;
			user-select: none;
			transition: 0.3s ease margin-left;
			.slider-item {
				width: 850px;
				height: 396px;
				display: flex;
				justify-content: center;
				align-items: center;
				user-select: none;
			}
		}
		.slider-points {
			position: absolute;
			left: 50%;
			top: 90%;
			display: flex;
			column-gap: 10px;
			transform: translateX(-50%);
			.slider-point {
				width: 10px;
				height: 10px;
				background-color: $bg-color3;
				border-radius: 100%;
				cursor: pointer;
			}
			.slider-point__active {
				box-shadow: 0 0 0 2px $text-color-hover;
			}
		}
	}
	.slider-arrow {
		user-select: none;
		cursor: pointer;
	}
	.slider__arrow-left {
		width: 0;
		height: 0;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-bottom: 40px solid $text-color-hover;
		transform: rotate(90deg);
	}
	.slider__arrow-right {
		width: 0;
		height: 0;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-bottom: 40px solid $text-color-hover;
		transform: rotate(-90deg);
	}
}
