// Colors
$bg-color1: #0b0c10;
$bg-color2: #151b22;
$bg-color3: #1f2833;
$header-color: #45a29e;
$text-color: white;
$text-color-hover: #66fcf1;

// Fonts
$ledger: 'Ledger', serif;
$ysabeauSC: 'Ysabeau SC', serif;
$inter: 'Inter', sans-serif;

// Font weights
$fw-regular: 400; // Ledger, YsabeauSC, Inter
$fw-medium: 500; // YsabeauSC
$fw-semibold: 600; // YsabeauSC
$fw-bold: 700; // YsabeauSC
$fw-black: 900; // YsabeauSC

// Font sizes
$fz-xx-small: 16px;
$fz-x-small: 20px;
$fz-small: 22px;
$fz-medium: 24px;
$fz-x-large: 32px;
$fz-large: 40px;
